# GitHub language detection düzenlemesi
# Hazır template, Bootstrap, statik dosyalar ve Razor view dosyaları dil yüzdesinden çıkarılır.
# Böylece ASP.NET Core / C# tabanlı projeler GitHub üzerinde daha doğru görünür.

**/wwwroot/lib/** linguist-vendored
**/wwwroot/css/** linguist-vendored
**/wwwroot/js/** linguist-vendored
**/wwwroot/img/** linguist-vendored
**/wwwroot/images/** linguist-vendored
**/wwwroot/webfonts/** linguist-vendored
**/wwwroot/fonts/** linguist-vendored
**/wwwroot/Admin/** linguist-vendored
**/wwwroot/assets/** linguist-vendored
**/wwwroot/template/** linguist-vendored
**/wwwroot/userTemplate/** linguist-vendored

**/*.min.css linguist-vendored
**/*.min.js linguist-vendored
**/*.map linguist-vendored

**/bootstrap/** linguist-vendored
**/jquery/** linguist-vendored
**/fontawesome/** linguist-vendored

**/Views/**/*.cshtml linguist-vendored
**/Areas/**/Views/**/*.cshtml linguist-vendored
**/Pages/**/*.cshtml linguist-vendored

**/*.html linguist-vendored
**/*.css linguist-vendored
**/*.scss linguist-vendored
**/*.js linguist-vendored
