@page
@model projectrzrpg.Pages.yoneticiler.DeleteModel

@{
    Layout = "_AdminLayout";
}

<br />

<div class="alert alert-warning">
    Yönetici kaydı siliniyor, lütfen bekleyiniz...
</div>

<a class="btn btn-secondary" href="/yoneticiler/Index">
    Listeye Dön
</a>